.card.py-2.mb-2.courierRate.courier_li:hover {
    cursor: pointer;
    box-shadow: 0 12px 17px -7px rgba(0,0,0,.3);
    -webkit-transform: translateY(-5px);
    transition: box-shadow .2s ease,-webkit-transform .3s cubic-bezier(.34,2,.6,1);
    -moz-transform: translateY(-5px);
    transform: translateY(-5px);
    transition: transform .3s cubic-bezier(.34,2,.6,1),box-shadow .2s ease;
    transition: transform .3s cubic-bezier(.34,2,.6,1),box-shadow .2s ease,-webkit-transform .3s cubic-bezier(.34,2,.6,1);
}

.badge.badge-pill.o_bord_cou {
    background-color: white;
    color: #777777;
    box-shadow: inset 0 0 0 2px #777777;
    margin-left:10%;
}

.badge.badge-pill.o_bord_cou:empty {
  display: none;
}